{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Supabase Demo

{% endblock %}


{% block content %}

    <section id="hero">
        <h1>Flask and Supabase Demo</h1>
    </section>

    <section id="things">

        {% for thing in things %}

            <article>

                <header>
                    <h4>{{ thing["name"] }}</h4>
                </header>

                <p>${{ thing["price"] }}</p>

                <p>{{ thing["description"] }}</p>

                <footer>
                    <a href="/thing/{{ thing['id'] }}">More...</a>

                    <a href="/delete/{{ thing['id'] }}">Delete</a>
                </footer>

            </article>

        {% endfor %}

    </section>

    <section>
    
        <article>
        
            <form>
            
                <label>
                    name
                    <input type="text" name="name" required>
                </label>

                <label>
                    Cost $
                    <input type="text" name="name" min="0" required>
                </label>

                <label>
                    Description
                    <input type="text" name="name">
                </label>

                <label>
                    Rating
                    <input type="text" name="name" min="0" max ="5"required>
                </label>

                <button>Add New Thing</button>
            
            </form>

        </article>
    
    </section>

{% endblock %}
