{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Supabase Demo - Single Thing

{% endblock %}


{% block content %}

    <section id="things">

        <article>

                                {# can add square brackets or . #}
            <header>
                <h4>{{ thing["name"] }}</h4>
            </header>

            <p>{{ thing.description }}</p>

            <p>Cost <strong>${{ thing.price }}</strong></p>

            <p>Rating <strong>{{ thing.rating }}</strong> / 5</p>

            <footer>
                <a href="/delete/{{ thing.id}}"> Delete</a>
            </footer>

        </article>

    </section>

{% endblock %}
